*
  section{
  outline: 1px solid red;
}
h1 {
  color: teal;
}
  
    address {
    background-color: blue;
    color: white;
  }
  address ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  address li {
    padding: 2px 20px;
  }
  section header h1 {
    color: red;

  }



